# Ignored cuz these are where I store my keys so you cant look
/yourpresidentialadvisor/config.py
/youreconomybot/config.py

# Ignored cuz this is my database, not yours get your own (jk the bot generates one for you)
yourpresidentialadvisor\democracy.db